@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;1,100;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}
 /*---------------------CABECERA-------------------------------*/
header{
    background-color:#4D7298 ;

}
.contenedor{
    width: 100%;
    height: 50px;
    border: none;
    font-size: 30px;
    color: white;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contenedor .titulo{
    width: 400px;
    /*background-color: blue;*/
    /*border: 1px solid red;*/
    padding: 10px;
}

/*-----------------MENU--------------------*/
nav{
    width: 100%;
    height: 50px;
    background: #77A6B6;
    display: flex;
}

nav ul{
    /*border: 1px solid red;*/
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: inherit;
}
nav ul li{
     margin: 5px;
     width: 50%;
     height: 40px;

     text-align: center;
     line-height: 40px;
     /*border: 1px solid black; */

 }
nav ul li a{
     text-decoration: none;
     font-size: 20px;
     color: white;
 }

 nav ul li a:hover{
     color: #190B28;
 }

/*--------------------contenedor general tipo 1------------------------*/
.contenedor-all{
   /* border: 1px solid red;*/
    width: 100%;
    height: 784px;
    padding: 20px;
    background: #190B28;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*-------------CAJAS DE INGRESO-------------------------*/
.contenedor-api{
   /* border: 1px solid red; */
    width: 30%;
    height: 550px;
    padding: 10px;

    display: flex;
    flex-direction: column;
}

.contenedor-ingreso{
    width: 100%;
    height: 200px;
    padding: 10px;
    background: #C42847;
    border-radius: 20px;

    display: flex;
    flex-direction:column ;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}

.contenedor-ingreso p{
    width: 100%;
    font-size: 28px;
    color: white;
    text-align: center;
}

.contenedor-ingreso input[type='text']{
    border: none;
    border-radius: 20px;
    width: 100%;
    height: 30px;
    text-align: center;
    box-shadow: none;
}

.contenedor-ingreso input[type='text']:focus{
    outline: none;
}

.contenedor-ingreso input[type='submit']{
    border-radius: 20px;
    width: 100%;
    height: 40px;
    border: none;
    background: #77A6B6;
    font-size: 28px;
    color: white;  
}

.contenedor-ingreso input[type='submit']:hover{
    background: #4D7298;
}

.contenedor-ingreso button{
    border-radius: 20px;
    width: 100%;
    height: 40px;
    border: none;
    background: #77A6B6;
    font-size: 28px;
    color: white; 
}

.contenedor-ingreso button:focus{
    outline: none;
}


/*----------------PANTALLA DE RESPUESTA---------------------*/
.contenedor-resultado{
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    height: 525px;
    text-align: center;
    background: #EFA9AE;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenedor-resultado p{
    font-size: 28px;
    margin: 10px;
}

.contenedor-resultado a{
    text-decoration: none;
    font-size: 18px;
    color: #C42847;
}

/*contenedor de respuestas a botones de textos*/
.contenedor-texto{
    /*border: 1px solid skyblue;*/
    width: 70%;
    height: 700px;
    text-align: center;
    background: #77A6B6;
    padding: 10px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.titulo-texto{
    width: 100%;
    height: 40px;
    border-radius: 20px;
    background:#4D7298 ;
    border: none;
    font-size: 28px;
    color: white;
    margin-bottom: 10px;
}


/*RESULTADOS DE BOTONES*/

.contenedor-texto.contenedor-resultado-2{
    /*border: 1px solid blue;*/
    width: 100%;
    height: 150px;
    padding: 20px;
    margin-bottom: 10px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contenedor-resultado-2 p{
    /*border: 1px solid blue;*/
    font-size: 20px;
    text-align: justify;
    margin: 10px;
}
/*lINKS*/

.contenedor-all-2{
    /* border: 1px solid red;*/
     width: 100%;
     height: 784px;
     padding: 20px;
     background: #190B28;
 
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     justify-content: center;
     align-content: center;
 }
.contenedor-texto-2{
    /*border: 1px solid skyblue;*/
    width: 45%;
    height: 700px;
    text-align: center;
    background: #77A6B6;
    padding: 10px;
    border-radius: 20px;
    margin: 10px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
/*------------------contenedor tipo 3------------------------*/

/* TEXTO  3  */
.contenedor-texto-3{
    /* border: 1px solid red; */
    width: 40%;
    height: 740px;
    text-align: center;
    background: #77A6B6;
    padding: 10px;
    border-radius: 20px;
    margin: 10px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.contenedor-texto-3 .contenedor-resultado-3{
    /* border: 1px solid blue; */
    width: 100%;
    height: 150px;
    padding: 20px;
    margin-bottom: 10px;

    display: flex;
    flex-wrap: wrap;
    justify-content: none;
}

.contenedor-resultado-3 p{
    /* border: 1px solid blue; */
    font-size: 16px;
    text-align: justify;
    margin: 5px;
}

/* TEXTO  4 -ping */
.contenedor-texto-4{
    /* border: 1px solid red; */
    width: 30%;
    height: 740px;
    text-align: center;
    background: #77A6B6;
    padding: 10px;
    border-radius: 20px;
    margin: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
}

.contenedor-texto-4 .contenedor-test-ping{
    border: 1px solid blue;
    width: 100%;
    height: 200px;
    padding: 10px;
    margin-bottom: 10px;
    background: blue;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
}

.contenedor-test-ping input[type="text"]{
    border: none;
    width: 100%;
    height: 50px;
    color: gray;
    text-align: center;
    font-size: 20px;
    border-radius: 20px;
    margin-bottom: 5px;
}
.contenedor-test-ping input[type="text"]:focus{
    outline: none;
}

.contenedor-test-ping p{
    /*border: 1px solid blue;*/
    font-size: 20px;
    text-align: center;
    margin: 5px;
    color: white;
}

.contenedor-test-ping button{
    border-radius: 20px;
    width: 100%;
    height: 40px;
    border: none;
    background: red;
    font-size: 28px;
    color: white; 
}

.contenedor-test-ping button:focus{
    outline: none;
}



/*------------------MENU INICIO PRINCIPAL---------------*/
.contenedor-opciones{
    background: #77A6B6;
    width: 100%;
    height: 838px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.contenedor-caja{
    /*border: 1px solid red;*/
    width: 250px;
    height: 200px;
    /*background: #607744;*/
    text-align: center;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-content: center;

}

.contenedor-caja a {
    text-decoration: none;
    font-size: 80px;

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.contenedor-caja a {
    color: #C42847;
}

.contenedor-caja a:hover{
    color: #EFA9AE;
}

.contenedor-caja a i{
    color: #C42847;
}

.contenedor-caja a i:hover{
    color: #EFA9AE;
}



/*-----------PIE DE PAGINA-------------------------------*/
footer{
    background:#4D7298;
    width: 100%;
    height: 53px;
    text-align: center;
    line-height: 53px;
}

footer p{
    color: white;
    font-size: 20px;
}

footer a{
    text-decoration: none;
    color: #190B28;
}

/*---------------------------------------------------------------------------------*/
/*1280px  a  800px*/
@media screen and (max-width: 1280px) and (min-width: 800px){

    .contenedor-all{
        width: 100%;
        height: 750px;
        padding: 10px;
    
        display: flex;
        flex-direction: column;
    }

    .contenedor-all.contenedor-api{
        width: 100%;
        height: 300px;
    }

    .contenedor-ingreso{
        padding: 10px;
       /*text-align: center;*/
        
        display: flex;
        flex-direction:column;
        justify-content: space-evenly;
        align-content: center;
    }

    .contenedor-ingreso.contenedor-ingreso p{
        font-size: 20px;
    }

    .contenedor-api.contenedor-resultado{
        width: 100%;
        height: 300px;
        padding: 10px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .contenedor-ingreso input[type='text']{
        width: 100%;

    }
    
    .contenedor-ingreso input[type='submit']{
        width: 100%;
        font-size: 30px;
    }

    .contenedor-resultado a{
        width: 100%;
        height: 100px; 
        font-size: 16px;

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
       
    }
/*--------------------------------------------------------*/
    .contenedor-all.contenedor-texto{
        width: 100%;
        height: 500px;

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        
    }
    .contenedor-texto.titulo-texto{
        font-size: 20px;
    }
    .contenedor-texto.contenedor-resultado-2{
        width: 100%;
        height: 200px;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        
    }

    .contenedor-resultado-2 p{
        margin-bottom: 10px;
        font-size: 16px;
    }

}
/*PEGUEÑA*/
@media screen and (max-width: 799px) and (min-width: 400px){
/*cabecera*/
    .contenedor{
        height: 100px;
        flex-direction: column;
        align-content: space-around;
    }
/*CUERPO*/
    .contenedor-all{
        width: 100%;
        height: 1100px;
    }
    .contenedor-api{
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column; 
    }

    .contenedor-ingreso{
        height: 150px;
        text-align: center;
        
        display: flex;
        flex-direction:column;
        justify-content: space-evenly;
        align-content: center;
    }

    .contenedor-ingreso p{
        font-size: 20px;
    }
    .contenedor-ingreso input[type='text']{
        width: 100%;
    }

    .contenedor-ingreso input[type='submit']{
        width: 100%;
        font-size: 30px;
    }

   .contenedor-resultado{
        height: 150px;
    }


 /*--------------------------------------------------------*/
    .contenedor-texto{
        width: 100%;
        height: 720px;
        
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    .contenedor-texto.contenedor-resultado-2{
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .contenedor-resultado-2 p{
        font-size: 14px;
        margin: 10px;
        
    }

}
